
	@import url(https://db.onlinewebfonts.com/c/6228016f2b172c06410f3a2356d33f6c?family=Roobert-Regular);

	* {
    	box-sizing: border-box;
        padding: 0;
    }

	body {
		font-family: "Roobert-Regular";
    }
    
    .cont3 {
    	display: flex;
        flex-direction: column;
    	padding: 1rem 5rem;
        gap: 2rem;
    }
    
    h2 {
    	font-size: 3rem;
        margin-inline-start: 2rem;
        margin-block: 1rem;
    }
    
    .cards {
    	display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    p {
    	font-weight: 500;
        padding-inline-end: 2rem;
    }
    
    a {
    	color: #016DFF;
        font-weight: 600;
        font-size: 1.15rem;
    }