<section class="cont3">
	<h2>${properties.heading}</h2>
    <div class="cards">
    	<article class="card1 card">
            <img src=${properties.img1}>
            <p>${properties.desc1}</p>
            <a href=${properties.link1}>${properties.linkdesc1}</a>
    	</article>
    	<article class="card2 card">
            <img src=${properties.img2}>
            <p>${properties.desc2}</p>
            <a href=${properties.link2}>${properties.linkdesc2}</a>
    	</article>
    </div>
</section>


<!--
Insights

Stay ahead of market trends and read commentary from industry thought leaders

https://dynamic.ca/en/insights-and-tools/insights.html
Browse insights

Hear from our thought leaders with our On the Money with Dynamic podcast

https://dynamic.ca/en/insights-and-tools/insights/podcasts.html
Start listening

-->